.more-info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__name {
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    &__image {
        width: 300px;
        margin: auto;

        &--photo {
            width: 100px;
        }
    }

    &__content {
        margin-top: 15px;
        padding: 10px;
    }
}